body{
    font-family: Arial, Helvetica, sans-serif;
}
.box-chat{
    border: 1px solid #DDD;
    display: inline-block;
    width: 280px;
    border-radius: 8px;
}
.header{
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #DDD;
}
.header .avt{
    background-color: #FE5DA3;
    display: inline-block;
    padding: 8px;
    color: #FFF;
    border-radius: 50%;
    margin: 10px 5px 10px 0;
}
.header span{
    font-weight: 600;
}
.body{
    padding: 10px;
    font-size: 13.6px;
    border-bottom: 1px solid #DDD;
}
.body .first{
    background-color: #f1f1f1;
    width: 220px;
    padding: 7px 0 7px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.body .second{
    background-color: #FE5DA3;
    width: 200px;
    padding: 7px 0 7px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 50px;
    color: #FFF;
}
.body .thirth{
    background-color: #f1f1f1;
    width: 220px;
    padding: 7px 0 7px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.body .fourth{
    background-color: #FE5DA3;
    width: 200px;
    padding: 7px 0 7px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 50px;
    color: #FFF;
}
.body .fiveth{
    background-color: #f1f1f1;
    width: 220px;
    padding: 7px 0 7px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.footer{
    padding: 10px;
}
.footer input{
    padding: 5px 10px;
    width: 190px;
    border-radius: 15px;
    outline: none;
    border: 1px solid #DDD;
    margin-right: 5px;
}
.footer button{
    cursor: pointer;
    background-color: #FE5DA3;
    border-radius: 15px;
    border: none;
    outline: none;
    color: #FFF;
    width: 35px;
    height: 25px;
    padding: 5px 0;
}
.box{
    border: 1px solid #ddd;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 200px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.box img{
    width: auto;
    height: 100px;
} 
.box p{
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}
.inner-item{
    display: inline-block;
    width: 270px;
    height: auto;
    border: 1px solid #DDD;
    margin: 0 10px 10px 0;
    padding: 5px 5px 15px 5px;
}
.inner-item img{
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}
.inner-item .name{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
}
.inner-item .new-price{
    font-size: 20px;
    font-weight: 600;
    color: rgb(131, 0, 0);
    margin-bottom: 5px;
}
.inner-item .old-price{
    font-size: 16px;
    color: red;
    margin-bottom: 5px;
}
.inner-item .discount{
    font-size: 18px;
    color: rgb(4, 30, 125);
    font-weight: 600;
}